@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");


:root {
  --font-size: 1.2rem;
  --color: rgb(200, 200, 200);
  --color-secondary: rgb(255, 255, 255);
  --background-color: rgb(50, 50, 50);
  --background-color-secondary: rgb(60, 60, 60);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 3rem;
  box-sizing: border-box;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: var(--background-color);
  color: var(--color);
  font-family: "Open Sans", sans-serif;
}

div {
  position: relative;
  display: flex;
  align-items: center;
}

div.fieldset > * {
	margin: 0 1rem;
}

input, textarea {
  width: 20rem;
  height: 2rem;
  padding: 0.8rem 1.2rem;
  font-size: var(--font-size);
  border-radius: 0.4rem;
  border: 2px solid var(--color);
  background: var(--background-color);
  color: inherit
}

label {
  font-size: var(--font-size);
  text-transform: uppercase;
  transform-origin: left center;
  background: white;
  pointer-events: none;
  background: transparent;
  transition: transform 0.2s ease-out;
  color: rgba(240, 240, 240, 0.4);
  border-radius: 0.2rem;
}

label.float {
	position: absolute;
	left: 1.2rem;
}

label span {
	text-transform: capitalize;
}

:is(input:focus, input:valid, textarea:focus, textarea:valid) {
  outline: none;
  border-color: var(--color-secondary);
  background: var(--background-color-secondary);
}

:is(input:focus, input:valid, textarea:focus, textarea:valid) + label {
  transition: 0.2s ease-out;
  padding: 0.2rem 0.8rem;
  transform: translateY(-1.8rem) scale(0.7);
  color: var(--background-color);
  background: var(--color-secondary);
}

button {
	width: 12rem;
	height: 3rem;
	font-size: calc(var(--font-size));
}